* {
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 235, 203);
    font-family: Kalam;
    height: 100vmin;
}

h1 {
    color: rgb(71, 81, 30);
    font-size: 10vmin;
    text-align: center;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    display: flex;
    justify-content: center; /* Centering .card-inner horizontally */
    align-items: center;
}

.stop-music {
    display: flex;
    margin: 0px auto 3vmin 0px;
}

#stop-music-image {
    width: 5vmin;
    height: 5vmin;
}

.game-info-container {
    margin: 3vmin;
    display: flex;
    justify-content: space-around;
}

.game-info {
    font-size: 5vmin;
    text-align: center;
    font-size: 5vmin;
    color:rgb(190, 105, 104);
}

.card-container {
  display: flex;
  justify-content: center; /* Centering .card-inner horizontally */
  align-items: center;
  padding-top: 5vmin;
}

.game-container {
    display: grid;
    gap: 2vmin;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    align-items: center;
}

.game-container > .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vmin;
    width: 10vmin;
}


.image {
    height: 10vmin;
    width: 10vmin;
}

.card-inner {
    height: 10vmin;
    width: 10vmin;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .card-front {
    height: 10vmin;
    width: 10vmin;
    position: absolute;
    visibility: hidden;
}

.card.flipped .card-front {
    visibility: visible;
}

.card.flipped .card-back {
    visibility: hidden;
}

.card .card-back {
    height: 10vmin;
    width: 10vmin;
    position: absolute;
    transform: rotateY(180deg);
    visibility: visible;
}

img {
    height: 10vmin;
    width: 10vmin;
    position: absolute;
}

.replay-game {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7vmin;
    width: 100%;
}

.start-button, .replay-button {
  background-color: rgb(220, 211, 250);
  border: 0.3vmin solid #422800;
  border-radius: 1vmin;
  box-shadow: #422800 0.5vmin 0.5vmin 0 0;
  color: rgb(28, 32, 12);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 3vmin;
  font-family: Kalam;
  padding: 1.5vmin 2vmin;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.replay-button {
    display: none;
}

.start-button:hover, .replay-button:hover {
  background-color: rgb(252, 252, 252);
  color: rgb(28, 32, 12);
}

.start-button:active, .replay-button:active {
  box-shadow: #422800 0.5vmin 0.5vmin 0 0;
  transform: translate(0.5vmin, 0.5vmin);
}

@media (min-width: 768px) {
    .start-button, .replay-button {
    min-width: 120px;
    padding: 0 25px;
  }
}

.disabled {
    pointer-events: none;
}

.message {
    text-align: center;
    font-style: italic;
    font-size: 5vmin;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 0.7px rgb(12, 12, 12);
}